@model IList<Entities.Counter>
@{
    ViewData["Title"] = "Index";
}

<h1>Счетчики</h1>
<table class="table">
    <tr>
        <th class="t">Id</th>
        <th class="t">Название</th>
        <th class="t">Id услуги</th>
        <th class="t">Серийный номер</th>
        <th class="t">Кол-во знаков до запятой</th>
        <th class="t">Кол-во знаков после запятой</th>
        <th class="t">Начальные показания</th>
        <th class="t">Дата включения</th>
    </tr>

    @foreach (var counter in Model)
    {
        <tr>
            <td class="t">@counter.Id</td>
            <td class="t">@counter.Name</td>
            <td class="t">@counter.ServiceId</td>
            <td class="t">@counter.SerialNumber</td>
            <td class="t">@counter.Capacity</td>
            <td class="t">@counter.DecimalCapacity</td>
            <td class="t">@counter.InitialValue</td>
            <td class="t">@counter.CreateData</td>
            <td>
                <form asp-controller="Counter" asp-action="Delete">
                    <input value="@counter.Id" name="id" type="hidden" />
                    <button type="submit">Удалить</button>
                </form>
                <br/>
                <a asp-controller="Counter" asp-action="Update" asp-route-id="@counter.Id" class="button-my">Обновить</a>
            </td>
        </tr>
    }



</table>
<a asp-controller="Counter" asp-action="Insert" Class="button-my">Добавить счетчик</a>


